In [5]:
# Import numpy & pandas libraries
import numpy as np
import pandas as pd

In [6]:
# read Salaries.csv file
data = pd.read_csv("Data sets/Salaries.csv",low_memory=False)

In [7]:
data.head()

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [6]:
# Find minimum value of BasePay column
data["BasePay"].min()

-166.01

In [7]:
# Find maximum value of BasePay column
data["BasePay"].max()

319275.01

In [8]:
# Find all the details of employee where sal is 319275.01
data[data["BasePay"]==319275.01]

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
72925,72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.0,20007.06,86533.21,339282.07,425815.28,2013,NaN,San Francisco,NaN

In [9]:
# Find mean BasePay
data["BasePay"].mean()

66325.44884050643

In [10]:
# Find the name of employee which has maximum TotalPayBenefits
data[data["TotalPayBenefits"]==data["TotalPayBenefits"].max()]["EmployeeName"]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [11]:
# Find all details of employee which has minimum TotalPayBenefits
data[data["TotalPayBenefits"]==data["TotalPayBenefits"].min()]

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148044,148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,PT

In [12]:
# Find the index of row which contains min TotalPaybenefits
data["TotalPayBenefits"].idxmin()
# data.index.get_loc(data.index[data['TotalPayBenefits'] == data['TotalPayBenefits'].min()][0])

148044

In [13]:
# For each year find the mean BasePay 
data.groupby("Year")["BasePay"].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [22]:
# Find unique JobTitles
pd.DataFrame(data["JobTitle"].unique()).count()
# len(data['JobTitle'].unique())

0    2154
dtype: int64

In [15]:
# Find the maximum 5 JobTitle with the number of employees

#data.groupby("JobTitle").count().sort_values("Id",ascending=False).iloc[0:5,0]
data["JobTitle"].value_counts().head(5)

Transit Operator                6975
Special Nurse                   4382
Registered Nurse                3725
Public Svc Aide-Public Works    2514
Police Officer 3                2411
Name: JobTitle, dtype: int64

In [19]:
# Find the no. of Job Title who contains only 1 employee in Year 2013
(data[data['Year']==2013]['JobTitle'].value_counts()==1).sum()

202

In [17]:
# Find the no. of Job Title which contains 'chief' in its Job Title
data['JobTitle'].apply(lambda X:('chief' in X.lower())).sum()

624

In [23]:
# Find the correlation between TotalPayBenefits & "length of Job Title" as "title_len"
data['title_len'] = data['JobTitle'].apply(len)
data[['TotalPayBenefits','title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036669
title_len                -0.036669   1.000000